@import url("https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans&display=swap");
/* Below are the general styles - linking different fonts to their elements. */

body,
ul,
h1,
h2,
h3 p {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	font-family: "Nunito Sans", sans-serif;
	font-weight: 100;
}

body,
button {
	font-family: "Inter", sans-serif;
	background-color: #eef0f1;
	font-weight: 100;
}

.wrapper {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
}
